@import "tailwindcss";

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.perspective-1000 {
    perspective: 1000px;
}

@media (max-width: 768px) {
    .project-section {
        height: auto;
        min-height: 50vh;
    }
}

.project-section {
    scroll-snap-align: start;
}

.project-section img {
    will-change: transform, opacity;
}

@supports (scroll-snap-type: y mandatory) {
    .scroll-container {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
}

html {
    scroll-behavior: smooth;
}