@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #20242d;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

span,
.primary-color {
    background-image: linear-gradient(to right, #dd32f3, #ce90cb);
    -webkit-background-clip: text;
    color: transparent
}

.bg-primary-color {
    background-image: linear-gradient(to right, #6b2b72, #a5079d);
}

.wave-emoji {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }

    20% {
        transform: rotate(12deg);
    }

    30% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(9deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}