@import "tailwindcss";

/*f3f9d2-cbeaa6-c0d684-ff595e-1982c4 */
:root {
    /* Background color */
    --color-background: #ffffff;

    /* Header Text Colors */
    --color-header-text: #000000;
    --color-header-hover: #00a4a6;

    /* Title Color */
    --color-title-text: #111111;

    /* Gradient */
    --color-gradient-start: #1E90FF;
    --color-gradient-end: #FF007A;

    /* Skill Section */
    --bg-unfilled-bar: #4A4A4A;
    --color-gradient-skill-start: #A3D39C;
    --color-gradient-skill-end: #28A745;
    --color-skill-text: #007BFF;

    /* Project */
    --color-project-text:#00a4a6;

    /* Footer Text Colors */
    --color-footer-background: #111111;
    --color-footer-text: #d6d6d6;
    --color-footer-hover: #00a4a6;

    /* Text colors */
    --color-text-primary: #000000;

    /* Button Colors */
    --color-button-bg: #ffffff;
    --color-button-text: #000000;
    --color-button-hover: #1668a0;
    --color-button-border: #000000;

    /* Primary color palette */
    --color-light: #ffffff;
    /*#a079f5*/
    --color-light-accent: #ffffff;
    --color-mid: #c0d684;
    /* --color-accent: #ff595e; */
    --color-accent: #1E90FF;
    --color-accent-hover: #104E8B;
    --color-dark: #000000;

    /* Functional colors */
    --color-background: var(--color-light);
    --color-text-primary: #333333;
    --color-text-secondary: var(--color-dark);
    --color-accent-primary: var(--color-accent);
    --color-accent-secondary: var(--color-dark);
    --color-button: var(--color-dark);
    --color-button-hover: #1668a0;
    --color-card-bg: #ffffff;
    --color-card-hover: rgba(203, 234, 166, 0.2);
    /* --color-gradient-start: var(--color-accent);
    --color-gradient-end: var(--color-dark); */
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.perspective-1000 {
    perspective: 1000px;
}

@media (max-width: 768px) {
    .project-section {
        height: auto;
        min-height: 50vh;
    }
}

.project-section {
    scroll-snap-align: start;
}

.project-section img {
    will-change: transform, opacity;
}

@supports (scroll-snap-type: y mandatory) {
    .scroll-container {
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
}

html {
    scroll-behavior: smooth;
}